.cert_div{

    width: 90vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:250px;

}

.cert{

    position: absolute;
    top:30px;
    margin-left:100px;
    font-size:30px;
    font-weight: bold;
}

.cert_contents{

    display: flex;
    position: relative;
    left:60px;
        
}


.boxs{

    border: 2px solid red;              
    padding:10px;
    transition: all 0.4s;
    cursor: pointer;
    margin-right:60px;
    margin-left:20px;
    position: relative;
}


.boxs>h4{

    font-size: 20px;
}



.cert_hr{

    position:absolute;
    bottom:20px;
    width:100vw;
    right:-120px;
 }



 @media (max-width:1120px) {

    
    .cert_div{

        width: 90vw;

    }

    .boxs{
             
        padding:8px;
        margin-right:40px;
        margin-left:5px;
    }


    .cert_hr{

        position:absolute;
        right:-62px;
     }

    
 }


@media (max-width:790px) {


    .cert_div{

        width: 97vw;

    }

    .cert_contents{
        display: block;
        left:-20px;
        top:18px;
    }

    .boxs{

        padding:5px;
        margin-right:0px;
        margin-top:10px;
        line-height:10px;
        
    }



    .boxs>h4{

        font-size:17px;
        font-weight: bold;
    }

    .boxs>h6{

        font-size:14px;
       
    }

    .cert{

        position: absolute;
        top:10px;
        margin-left: -40px;
        font-size:30px;
    }

    .cert_hr{
        bottom:5px;
        right:0px;
     }
    
    
}

@media (max-width:580px) {


    .cert_div{

        width: 92vw;

    }

    .cert{

        margin-top: -15px;
    }

    .cert_contents{
        display: block;
        left:10px;
        top:-20px;
    }

    .boxs{

        padding:4px;
        
    }


    .boxs>h4{

        font-size:18px;
    }

    .boxs>h6{

        font-size:13px;
       
    }

    .cert{

        position: absolute;
        top:18px;
        margin-left:-217px;
        font-size:28px;
    }

    .cert_hr{
        bottom:30px;
        right:-18px;
        
     }
    
    
}

@media (max-width:450px) {


    .cert_div{

        width: 92vw;

    }

    .cert{

        margin-top:5px;
    }

    .cert_contents{
        left:8px;
        top:-15px;
    }

    .boxs{

        padding:4px;
        
    }


    .boxs>h4{

        font-size:17px;
    }

    .boxs>h6{

        font-size:14px;
       
    }

    .cert{

        position: absolute;
        top:-10px;
        margin-left: -190px;
    }


 .cert_hr{
    right:-15px;
    
 }
    
}


@media (max-width:430px) {


    .cert_contents{
        left:8px;
        top:-15px;
    }

    .boxs{

        padding:4px;
        
    }

    .cert{
        margin-left: -130px;
    }

    .cert_hr{
        right:-10px;
        
     }
    
}